# This docker-compose file sets up the Grafana Mobile Alerts services with Traefik as a reverse proxy.
# Traefik must be running separately with a Docker network named `traefik-proxy`.

services:
  grafana:
    extends:
      file: ./docker-compose.base.yml
      service: grafana
    networks:
      - local
      - traefik-proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.sensorenr23-grafana.rule=Host(`${GRAFANA_DOMAIN}`)"
      - "traefik.http.routers.sensorenr23-grafana.entrypoints=websecure"
      - "traefik.http.routers.sensorenr23-grafana.tls=true"
      - "traefik.http.routers.sensorenr23-grafana.tls.certresolver=letsencrypt"
      - "traefik.docker.network=traefik-proxy"

  timescaledb:
    extends:
      file: ./docker-compose.base.yml
      service: timescaledb

  fetcher:
    extends:
      file: ./docker-compose.base.yml
      service: fetcher

networks:
  traefik-proxy:
    external: true
  local:
    external: false
